{% extends "base.html" %}

{% block content %}
<h1>Запрос карты</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.coordinates.label }}<br>
        {{ form.coordinates(class="form-control") }}<br>
        {% for error in form.coordinates.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.size.label }}<br>
        {{ form.size(class="form-control") }}<br>
        {% for error in form.size.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.type.label }}<br>
        {{ form.type(class="form-control") }}<br>
        {% for error in form.type.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p class="CAPTCHA">{% for error in form.recaptcha.errors %}
                    {{ error }}
                {% endfor %}
        {{ form.recaptcha() }}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}