<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
    aside {
    background: #f0f0f0;
    padding: 10px;
    width: 200px;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
    align-items: stretch;
    }
    article {
    margin-right: 240px;
    display: block;
    }
    body {
    background: #3de184;
    color: #000000;
    }
    .wrapper {
    display: flex;
    width: 15%;
    align-items: stretch;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: red;
    }

    </style>
    <title>{{title}}</title>
</head>


<body>

<aside>

    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Наши статьи</h3>
        </div>

        <ul class="list-unstyled components">
            <li><a href="/">Земля</a></li>
            <li><a href="#">Люди</a></li>
            <li><a href="#">Как помочь?</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Галерея</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>

</aside>
<article>
   История о том, как приходилось экономить электричество,
   какие меры для этого принимались, и куда оно на самом деле уходило.
</article>

</body>


</html>