{% extends "base.html" %}

{% block content %}


<div class="container">
    <img src="static/icons/{{way}}" height="80" width="80">
    <img src="static/icons/{{pic}}" alt="img" height="210" width="580">
    <div id="rectangle"></div>
    <div class="centered" style="color:#947b00;">Статья</div>
</div>
<div class="column">
    <p>{{ column1 }}</p>
    <p>{{ column2 }}</p>
</div>
{% if was_scored == 0 %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.rating.label }}<br>
        {{ form.rating(class="form-control") }}<br>
        {% for error in form.rating.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endif %}
{% if article_score == 1 %}
<div class="rating-result">
    <span class="active"></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
{% endif %}
{% if article_score == 2 %}
<div class="rating-result">
    <span class="active"></span>
    <span class="active"></span>
    <span></span>
    <span></span>
    <span></span>
</div>
{% endif %}
{% if article_score == 3 %}
<div class="rating-result">
    <span class="active"></span>
    <span class="active"></span>
    <span class="active"></span>
    <span></span>
    <span></span>
</div>
{% endif %}
{% if article_score == 4 %}
<div class="rating-result">
    <span class="active"></span>
    <span class="active"></span>
    <span class="active"></span>
    <span class="active"></span>
    <span></span>
</div>
{% endif %}
{% if article_score == 5 %}
<div class="rating-result">
    <span class="active"></span>
    <span class="active"></span>
    <span class="active"></span>
    <span class="active"></span>
    <span class="active"></span>
</div>
{% endif %}


{% endblock %}