{% extends "base.html" %}

{% block content %}


<div class="container">
    <img src="static/images/img.jpg" alt="img" style="width:100%;">
    <div id="rectangle"></div>
    <div class="centered">Centered</div>
</div>
<div class="column">
    <p>Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот!
        Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот!
        Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот!
        Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот!
        Макс бот!
        Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот!
        Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот!
        Макс бот! Макс бот! Макс бот! Макс бот!</p>
    <p>Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот!
        Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот!
        Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот! Макс бот!
        Макс бот! Макс бот! Макс бот! Макс бот!</p>
</div>


{% endblock %}